@import url(http://fonts.googleapis.com/css?family=Roboto:500,900,300,700,400);

body {
  font-family: 'Roboto', Arial;
}

.carta {
  position: relative;
  border: 2px black solid;
  width: 65mm;
  height: 45mm;
  overflow: hidden;
  font-size: 9pt;
  float: left;
  padding-left: 1mm;
  margin: 2mm;
  page-break-inside: avoid;
}

.carta h1 {
  margin: 0;
  padding: 0;
  position: absolute;
  width: 65%;
  height: 15mm;
  top: 2mm;
  text-align: left;
  padding-left:1mm;
  font-weight: 900;
  font-size: 11pt;
  line-height: 16pt;
  vertical-align: bottom;
  display: block;
}

.carta table {
  position: absolute;
  bottom: 2mm;
  left: 2.5mm;
  text-align: center;
  border-top: 2px solid black;
  width: 95%;
  margin: 0;
  padding: 0
}

.carta table td {
  padding: 0 1mm;
}

div.tipo {
  position: absolute;
  display: block;
  right: 1mm;
  width: 14mm;
  height: 9mm;
  text-align: center;
  margin: 0;
  font-weight: 900;
  background-color: #dedede;
  padding: 2mm;
  font-size: 1.75em;
}

div.bloco {
  position: absolute;
  width: 95%;
  border-top: 1px solid #666;
  top: 15mm;
  left: 2mm;
  font-weight: 400;
}

.tabela-ano {
  font-weight: 500;
}

p.estado {
  position: absolute;
  top: 18mm;
  width:30mm;
  left: 3.5mm;
  font-weight: 700;
}

p.verba {
  position: absolute;
  top: 23mm;
  width:30mm;
  left: 3.5mm;
  font-size: 13pt;
  font-weight: 700;
}

p.etapa {
  position: absolute;
  top: 28mm;
  width:30mm;
  left: 3.5mm;
  font-weight: 700;
}

p.anos {
  font-weight: 700;
}

p.poder {
  position: absolute;
  top: 0;
  left: 20.5mm;
  font-weight: 400;
}

tr.votos_ano td {
  font-weight: 700;
}

/* CORES DE PARTIDOS */
.DEM {
  border-color: #23ed71;
  background-color: #23ed71;
  color: #1323e6;
}

.PED {
  border-color: #121212;
  background-color: #121212;
  color: #fff;
}

.PT {
  border-color: #fc0044;
  background-color: #fc0044;
  color: #fff;
}

.PSDB {
  border-color: #4039e5;
  background-color: #4039e5;
  color: #ffeb00;
}

.PMDB {
  border-color:#e2d64a;
  background-color: #e2d64a;
  color: #000;
}

.PIE {
  border-color:#f00;
  background-color: #f00;
  color: #ffc608;
}

h2 {
  position: absolute;
  display: block;
  top: 2mm;
  right: 2.5mm;
  border: 1px solid black;
  width: 18mm;
  height: 9mm;
  text-align: center;
  margin: 0;
  padding: 1mm;
  font-weight: 900;
}

/* para impressao */
@media all {
	.page-break	{ display: none; }
}

@media print {
	.page-break	{ display: block; page-break-before: always; }
}