div.bloco {
  position: absolute;
  top: 18mm;
  width:80mm;
  left: 3.5mm;
}

div.bloco p {
  position:  relative;
}

strong {
  font-size:13pt;
}

div.tipo.evento span {
  background-color: #555;
  color: #fff;
  padding: 2mm;
}