@import url(http://fonts.googleapis.com/css?family=Roboto:500,900,300,700,400);

body {
  font-family: 'Roboto', Arial;
}

.carta {
  position: relative;
  border: 2px black solid;
  width: 85mm;
  height:55mm;
  overflow: hidden;
  font-size: 11pt;
  float: left;
  padding-left: 2.5mm;
  margin: 2mm;
  page-break-inside: avoid;
}

.carta h1 {
  padding: 0;
  padding-left:1mm;
  font-weight: 900;
  font-size: 16pt;
  line-height: 16pt;
  width: 58mm;
  vertical-align: bottom;
  display: block;
}

p {
  width: auto;
  margin: 0;
  margin-right: 2.5mm;
  font-size: 14pt;
  font-weight: 700;
}

div.tipo {
  position: absolute;
  display: block;
  top: 2mm;
  right: 2.5mm;
  width: 20mm;
  height: 20mm;
  text-align: center;
  margin: 0;
  font-size:24pt;
  font-weight: 500;
}

.col {
  display: block;
  float: left;
  width: 38.5mm;
  height: 16mm;
  padding: 0;
  margin: 0 0 0 2.5mm;
}

p.estado {
  position: absolute;
  top: 22mm;
  width:30mm;
  left: 3.5mm;
}

p.verba {
  position: absolute;
  top: 28mm;
  width:30mm;
  left: 3.5mm;
}

p.anos {
  position: absolute;
  top: 16mm;
  width:25mm;
  left: 3.5mm;
}

p.poder {
  /*border-top: 1px dotted #aaa;*/
  position: absolute;
  top: 17mm;
  width:52mm;
  left: 33.5mm;
  font-size: 10.5pt;
  font-weight: 400;
}

tr.votos_ano td {
  font-weight: 700;
}