p {
  width: auto;
  margin: 0;
  margin-right: 2.5mm;
  font-size: 14pt;
  font-weight: 700;
}

.carta table {
  position: absolute;
  bottom: 2mm;
  left: 2.5mm;
  text-align: center;
  border-top: 2px solid black;
  width: 80mm;
  margin: 0;
  padding: 0
}

.carta table td {
  padding: 0 1mm;
}
.tabela-ano {
  font-weight: 500;
}

span {
  display: inline-block;
  width: auto;
  float: right;
  margin-right:0.5mm;
  font-weight: 700;
}

h2 {
  position: absolute;
  display: block;
  top: 2mm;
  right: 2.5mm;
  border: 2px solid black;
  width: 18mm;
  height: 9mm;
  text-align: center;
  margin: 0;
  padding: 1mm;
  font-size: 18pt;
  font-weight: 900;
}

.col {
  display: block;
  float: left;
  width: 38.5mm;
  height: 16mm;
  padding: 0;
  margin: 0 0 0 2.5mm;
}



